{% extends 'student/student-dashboard.html' %}
{% load static %}

{% block user_image %}
    <img src="/media/{{ user_detail.student_image }}" alt="user-image" class="img-fluid" style="border-radius: 100%"
         width="50%">
{% endblock %}

{% block studentName %}
    {{ user_detail.name }}
{% endblock %}

{% block studentRollNo %}
    {{ user_detail.class_of_student }}
{% endblock %}

{% block studentClass %}
    {{ user_detail.roll_number }}
{% endblock %}

{% block home %}
    <div class="container">
        <div class="col-sm-12" style="display: flex;justify-content: center;align-items: center">
            <nav class="navbar navbar-dark bg-dark">
                <form class="form-inline" action="/student/get_search_result/" method="get">
                    <div class="form-group" style="padding-right: 20px">
                        <label for="exampleFormControlSelect" style="color: white;padding-right: 10px">Search
                            Whom? </label>
                        <select class="form-control" id="search" name="search_whom">
                            <option value="Teacher">Teacher</option>
                            <option value="Student">Student</option>
                        </select>
                    </div>
                    <input class="form-control mr-sm-2" type="text" placeholder="ID" name="id">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"></div>
                    {% if search == 'user_not_found_404' %}
                        <div class="alert alert-danger">No user found</div>
                    {% elif search == '' %}
                    {% elif searched_user == 'Student' %}
                    <div class="col-sm-8 w-75 p-3">
                        <img src="/media/{{ user_detail.student_image }}"
                             style="border-radius: 100%;z-index: 2;position: relative;left: 50%;top:50%;transform: translate(-50%,50%);width: 20%"
                             class="img-fluid" id="detail-img">
                        <div style="border:2px solid black;padding: 30px;margin: 40px;">
                            <label for="Name">Name </label><span> {{ search.name }}</span><br>
                            <label for="Class">Class </label><span> {{ search.class_of_student }}</span><br>
                            <label for="Roll Number">Roll Number</label><span> {{ search.roll_number }}</span><br>
                            <label for="Class Teacher">Class Teacher</label><span> Teacher name</span><br>
                            <label for="Subjects">Subjects</label>
                            <span>
                                <ul>
                                    {% for subject in subjects %}
                                        <li>{{ subject }}</li>
                                    {% endfor %}
                                </ul>
                            </span><br>
                        </div>
                    </div>
                    {% else %}
                        <div class="col-sm-8 w-75 p-3">
                            <img src="/media/{{ search.teacher_image }}"
                                 style="border-radius: 100px;z-index: 2;position: relative;left: 50%;top:50%;transform: translate(-50%,50%);width: 100px;height: 100px"
                                 class="img-fluid" id="detail-img">
                            <div style="border:2px solid black;padding: 30px;margin: 40px;">
                                <label for="Name">Name </label><span> {{ search.teacher_name }}</span><br>
                                <label for="Name">Class Teacher
                                    Of </label><span> {{ search.class_teacher_of }}</span><br>
                                <label for="Name">ID </label><span> {{ search.teacher_id }}</span><br>
                                <label for="Name">Subjects</label>
                                <span>
                                    <ul>
                                        {% if subjects == 'none' %}
                                            None
                                        {% else %}
                                            {% for subject in subjects %}
                                                <li>{{ subject }}</li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </span><br>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}