{% extends 'teacher/teacher-dashboard.html' %}
{% load static %}

{% block home %}
    <div class="container">
        <div class="col-sm-12" style="display: flex;justify-content: center;align-items: center">
        </div>
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <form class="col-sm-8 w-75 p-3">
                        <div class="form-border">

                            <label>Admission Number of Student : </label><span style="margin-left: 10px;display: block"><input
                                type="text" name="student-admission-number"
                                style="background: rgba(251,252,250,0.33);border: none"></span>
                            <label for="Name">Name </label><span style="margin-left: 10px;display: block"> <input
                                type="text"
                                name="student-name"
                                value="Student name"
                                style="background: rgba(251,252,250,0.33);border: none"></span><br><label for="Name">Class </label><span
                                style="margin-left: 10px;display: block"><input
                                type="text"
                                name="student-name"
                                value="Student class"
                                style="background: rgba(251,252,250,0.33);border: none"></span><br>
                            <label for="Name">Roll Number</label><span style="margin-left: 10px;display: block"><input
                                type="text"
                                name="student-name"
                                value="Roll number"
                                style="background: rgba(251,252,250,0.33);border: none"></span><br>
                            <label for="Name">Class Teacher</label><span style="margin-left: 10px;display: block"><input
                                type="text"
                                name="student-name"
                                value="Techer Name"
                                style="background: rgba(251,252,250,0.33);border: none"></span><br>
                            <label for="Name">Subjects</label>
                            <span>
                        <ul>
                            <li><span style="margin-right: 10px">Subject Name</span>
                                <span style="margin-right: 10px ;display: block">Ist Term <input style="width: 30px"
                                                                                                 type="number"
                                                                                                 name="subjectName-mid1"
                                                                                                 value="0"></span>
                                <span style="margin-right: 10px;display: block">IInd Term <input style="width: 30px"
                                                                                                 type="number"
                                                                                                 name="subjectName-mid2"
                                                                                                 value="0"></span>
                                <span style="display:block;">Final <input style="width: 30px" type="number"
                                                                          name="subjectName-final"
                                                                          value="0"></span>
                            </li>
                        </ul>
                    </span><br>
                            <label style="display: inline" for="student-image">Upload Photo of student : </label><input
                                type="file" name="student-image"><br>
                            <button class="btn btn-outline-success my-2 my-sm-0" formaction="#">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}