{% extends 'teacher/teacher-dashboard.html' %}
{% load static %}

{% block teacher_image %}
    <img src="/media/{{ user_detail.teacher_image }}" alt="user-image" class="img-fluid"
         style="border-radius: 100%; width: 100px;height: 100px">
{% endblock %}

{% block teacher_name %}
    {{ user_detail.teacher_name }}
{% endblock %}

{% block teacher_id %}
    {{ user_detail.teacher_id }}
{% endblock %}


{% block home %}

    {% if user_detail.class_teacher_of == 'none' %}
        <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
            You are not a class teacher.
        </div>
    {% else %}
    <div style="margin-top:20px">
        <h1>Class {{ user_detail.class_teacher_of }}</h1>
    </div>
    <div class="container" style="margin-top: 20px">
        <div class="row">
            {% for student in students_in_class %}
            <div class="subjects">
                <span><a
                        href="/teacher/search/{{ student.admission_number }}/">{{ student.admission_number }}</a></span>
                <span> {{ student.name }} </span>
                <span>
                    <form class="form-inline" style="display: inline" method="POST">
                        {% csrf_token %}
                        <input name="id" value="{{ student.admission_number }}" hidden>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                                formaction="/teacher/delete/">Delete</button>
                    </form>
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}