{% extends 'teacher/teacher-dashboard.html' %}
{% load static %}

{% block teacher_image %}
    <img src="/media/{{ user_detail.teacher_image }}" alt="user-image" class="img-fluid"
         style="border-radius: 100%; width: 100px;height: 100px">
{% endblock %}

{% block teacher_name %}
    {{ user_detail.teacher_name }}
{% endblock %}

{% block teacher_id %}
    {{ user_detail.teacher_id }}
{% endblock %}

{% block home %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8 w-75 p-3">
                <img src="/media/{{ user_detail.teacher_image }}"
                     style="border-radius: 100px;z-index: 2;position: relative;left: 50%;top:50%;transform: translate(-50%,50%);width: 100px;height: 100px"
                     class="img-fluid" id="detail-img">
                <div style="border:2px solid black;padding: 30px;margin: 40px;">
                    <label for="Name">Name </label><span> {{ user_detail.teacher_name }}</span><br>
                    <label for="Name">Class Teacher Of </label><span> {{ user_detail.class_teacher_of }}</span><br>
                    <label for="Name">ID </label><span> {{ user_detail.teacher_id }}</span><br>
                    <label for="Name">Subjects</label>
                    <span>
                        <ul>
                            {% for subject in teaches %}
                                <li>{{ subject }}</li>
                            {% endfor %}
                        </ul>
                    </span><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}