{% extends 'teacher/teacher-dashboard.html' %}
{% load static %}

{% block teacher_image %}
    <img src="/media/{{ user_detail.teacher_image }}" alt="user-image" class="img-fluid"
         style="border-radius: 100%; width: 100px;height: 100px">
{% endblock %}

{% block teacher_name %}
    {{ user_detail.teacher_name }}
{% endblock %}

{% block teacher_id %}
    {{ user_detail.teacher_id }}
{% endblock %}


{% block home %}
    <div class="container">
        <div class="col-sm-12" style="display: flex;justify-content: center;align-items: center">
            <nav class="navbar navbar-dark bg-dark">
                <form class="form-inline" action="/teacher/search/">
                    <input class="form-control mr-sm-2" type="search" placeholder="ID" aria-label="Search" name="id">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"></div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert" style="margin-top: 20px;">
                                Successfully updated students data.
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if search != '' %}
                        <form class="col-sm-8 w-75 p-3" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <img src='/media/{{ search.student_image.value }}/'
                                 style="border-radius: 100px;z-index: 2;position: relative;left: 50%;top:50%;transform: translate(-50%,50%);width: 100px;height: 100px;"
                             class="img-fluid student-image" id="detail-img">
                        <div class="form-border">
                            {{ alpha.management_form }}
                            {{ search.as_p }}
                            {% for form in alpha %}
                                {{ form.as_p }}
                            {% endfor %}
                            <br>
                            <button class="btn btn-outline-success my-2 my-sm-0"
                                    formaction="/teacher/update_student_data/">Update
                            </button>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}